@import "../../style/colors";

.cardOuter{
    background-color: $ponte-blue-dark;
    width: 20%;
    min-width: 230px;
    // kell majd min vagy max with
    min-height:40vh;
    margin: 1rem;
    padding: .5rem 0 1rem;
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
    div{
        max-width: 80%;
    }
}

.buttonDiv{
    display: flex;
    gap:1rem;
    margin: .5rem 0 0 ;
     button{
        width: 3rem;
        padding: .4rem;
        display: flex;
        justify-content: center;
    }
}

.cardTitle{
    margin: .5rem 0 ;
    font-size: 110%;
    font-weight: bolder;
}

img{
    width: 200px;
    height: 200px;
}