$ponte-blue-dark: #0192b7;
$ponte-blie-light: #00b3be;

$complementer-dark: #0E1116;
$complementer-green: #6CC551;
$complementer-peach:#F4B860;
$snow:#FFFBFE;
$complementer-red: #C42021;
$silk: #eee4e1;

$elegant-grey: #1e1e1e;